<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<script>
  function showsearchresult() {
    const searchResult = document.getElementById('search_container');

    console.log(searchResult);

    searchResult.classList.remove('hidden');
  }
</script>

<main class ="border p-10 rounded-3">
  <div>
    <h3 class="text-center uppercase underline text-4xl font-bold mt-0 mx-100">TECHNICAL AND ADMINISTRATIVE APPROVAL
      FORM LAYOUT FOR
      ACTIVITY</h3>
    <div class="my-20 mx-50">
      <div class="">
        <div class="flex items-center border border-black">
          <h3 class="border-r  border-r-black w-fit pt-1 pb-4 pl-2 pr-4">Plan Financial Year*:</h3>
          <div class="ml-1 w-fit">
            <input type="text" class="focus:outline-none" placeholder="Select Financial Year">
          </div>
        </div>
      </div>
      <div class="flex items-center border-r border-r-black">
        <div class="flex items-center border-b border-b-black border-l border-l-black">
          <h3 class="w-fit pt-1 pb-4 pl-2 pr-[81px]">Plan Type*:</h3>
          <textarea class="mx-0.5" rows="2" cols="20"
            class="resize-none border-l border-l-black border-r border-r-black focus:outline-none px-2 py-1"
            placeholder="Select Approved Plan"></textarea>
        </div>
        <div class="flex items-center border-b border-b-black">
          <h3 class="w-fit pt-1 pb-4 pl-2 pr-[81px]">Activity Name</h3>
          <textarea class="mx-0.5" rows="2" cols="20"
            class="resize-none border-l border-l-black  focus:outline-none px-2 py-1"
            placeholder="Select Activity of the Approved Plan"></textarea>
        </div>
      </div>
      <div class="border-b border-b-black border-l border-l-black border-r border-r-black py-2.5 w-full px-[34rem]">
        <button class="w-fit bg-blue-200 px-7 py-2 shadow-sm shadow-black hover:scale-110 ease-in-out duration-200"
          id="Search_button" onclick="this.showsearchresult.bind(this)">Search</button>
      </div>
      <div class="" id="search_container">
        <div class="w-full border-b border-b-black border-l border-l-black border-r border-r-black "
          id="">
          <div class=" flex items-center justify-between">
            <h3 cclass="w-fit pt-1 pb-4 pl-2 pr-[81px]">Activity Id</h3>
            <input type="text"  class="mx-4" rows="2" cols="20" placeholder="Activity id">
            <textarea class="mx-0.2" rows="2" cols="20"></textarea>
            <h3 class="w-fit pt-1 pb-4 pl-2 pr-[81px]">Activity Name</h3>
            <input type="text" class="border-r border-r-black pb-10" placeholder="Activity Name">
            <textarea class="mx-0.2" rows="2" cols="20"></textarea>
            <h3 class="w-fit pt-1 pb-4 pl-2 pr-[81px]">Estimated Cost</h3>
            <input type="text"  class="border-r border-r-black pb-10" placeholder="Estimate Cost">
            <textarea class="mx-0.2" rows="2" cols="20"></textarea>
            <h3 class="w-fit pt-1 pb-4 pl-2 pr-[81px]">Scheme Is [Asset/Training/Community Service]</h3>
            <input type="text"  class="border-r border-r-black pb-10" placeholder="Sechme is">
            <textarea class="mx-0.2" rows="2" cols="20"></textarea>
          </div>
          <div class="border-t border-t-black flex items-center justify-between pl-2">
            <h3 class="w-fit pt-1 pb-4 pl-2 pr-[81px]">Allocation Amount</h3>
            <input type="text"  class="border-r border-r-black pb-10" placeholder="Allocation amount">
            
            <h3 class="w-fit pt-1 pb-4 pl-2 pr-[81px]">Focus Area</h3>
            <input type="text"  class="border-r border-r-black pb-10" placeholder="Focus Area">
            <textarea class="mx-0.2" rows="2" cols="20"></textarea>
          </div>
          <div class="border-t border-t-black flex items-center justify-between pl-2">
            <h3 class="w-fit pt-1 pb-4 pl-2 pr-[81px]">Technical Sanction Received Date*:</h3>
            <input type="date" class="border-r border-r-black pb-10">
            <h3 class="w-fit pt-1 pb-4 pl-2 pr-[81px]">Technical Sanctioned Amount*:</h3>
            <input type="text"  class="border-r border-r-black pb-10" placeholder="Amount">
          </div>
          <div class="border-t border-t-black flex items-center justify-between pl-2">
            <h3 class="w-fit pt-1 pb-4 pl-2 pr-[81px]">DPR Prepared*</h3>
            <input type="date" class="border-r border-r-black pb-10">
            <h3 class="w-fit pt-1 pb-4 pl-2 pr-[81px]">DPR Amount*:</h3>
            <input type="text" class="focus:outline-none" placeholder="Drp amount">
          </div>
          <div class="border-t border-t-black flex items-center justify-between pl-2">
            <h3 class="w-fit pt-1 pb-4 pl-2 pr-[81px]">DPR Preparation Date*:</h3>
            <input type="date" class="border-r border-r-black pb-10">
            <h3 class="w-fit pt-1 pb-4 pl-2 pr-[81px]">Technical Sanctioned Document*:</h3>
            <button
              class="w-fit bg-blue-200 px-7 py-2 shadow-sm shadow-black hover:scale-110 ease-in-out duration-200 flex items-center justify">Upload</button>
          </div>
          <div class="border-t border-t-black flex items-center justify-between pl-2">
            <h3 class="w-fit pt-1 pb-4 pl-2 pr-[81px]">Administrative Sanction Received Date*:</h3>
            <input type="date" class="border-r border-r-black pb-10">
            <h3 class="w-fit pt-1 pb-2 pl-2 pr-[50px]">Administrative Sanctioned Amount*:</h3>
            <input type="text"  class="border-r border-r-black pb-2" placeholder="Administrative Sanctioned amount">
          </div>
        </div>
        <div
          class="border-b border-b-black border-l border-l-black border-r border-r-black  w-full flex items-center justify-start pl-2">
          <h3 class=" w-fit pt-1 pb-4 pl-2 pr-[81px]">Administrative Sanction Document*:</h3>
          <button
            class="w-fit ml-2 bg-blue-200 px-7 py-2 shadow-sm shadow-black hover:scale-110 ease-in-out duration-200">Upload</button>
        </div>
        <div class="border-b border-b-black border-l border-l-black border-r border-r-black py-2.5 w-full px-[34rem]">
          <button
            class="w-fit bg-blue-200 px-7 py-2 shadow-sm shadow-black hover:scale-110 ease-in-out duration-200">Save</button>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
